In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
print(os.listdir())

['.DS_Store', 'Untitled.ipynb', 'test.csv', 'train-flattened.csv', 'test-flattened.csv', 'gstore-vis.ipynb', 'bg-query-kaggle-GAD.ipynb', 'airfare', 'gstore.R', 'train.csv', '.ipynb_checkpoints', 'sample_submission.csv']

In [1]:
import bq_helper
#Here's how we can use the BQHelper library to pull datasets/tables from BigQuery
ga_bq_train = bq_helper.BigQueryHelper(active_project= "kaggle-public-datasets", 
                                       dataset_name = "ga_train_set")
ga_bq_test = bq_helper.BigQueryHelper(active_project= "kaggle-public-datasets", 
                                       dataset_name = "ga_test_set")
ga_bq_test.list_tables()

['ga_sessions_20170802',
 'ga_sessions_20170803',
 'ga_sessions_20170804',
 'ga_sessions_20170805',
 'ga_sessions_20170806',
 'ga_sessions_20170807',
 'ga_sessions_20170808',
 'ga_sessions_20170809',
 'ga_sessions_20170810',
 'ga_sessions_20170811',
 'ga_sessions_20170812',
 'ga_sessions_20170813',
 'ga_sessions_20170814',
 'ga_sessions_20170815',
 'ga_sessions_20170816',
 'ga_sessions_20170817',
 'ga_sessions_20170818',
 'ga_sessions_20170819',
 'ga_sessions_20170820',
 'ga_sessions_20170821',
 'ga_sessions_20170822',
 'ga_sessions_20170823',
 'ga_sessions_20170824',
 'ga_sessions_20170825',
 'ga_sessions_20170826',
 'ga_sessions_20170827',
 'ga_sessions_20170828',
 'ga_sessions_20170829',
 'ga_sessions_20170830',
 'ga_sessions_20170831',
 'ga_sessions_20170901',
 'ga_sessions_20170902',
 'ga_sessions_20170903',
 'ga_sessions_20170904',
 'ga_sessions_20170905',
 'ga_sessions_20170906',
 'ga_sessions_20170907',
 'ga_sessions_20170908',
 'ga_sessions_20170909',
 'ga_sessions_20170910',
 'ga_sessions_20170911',
 'ga_sessions_20170912',
 'ga_sessions_20170913',
 'ga_sessions_20170914',
 'ga_sessions_20170915',
 'ga_sessions_20170916',
 'ga_sessions_20170917',
 'ga_sessions_20170918',
 'ga_sessions_20170919',
 'ga_sessions_20170920',
 'ga_sessions_20170921',
 'ga_sessions_20170922',
 'ga_sessions_20170923',
 'ga_sessions_20170924',
 'ga_sessions_20170925',
 'ga_sessions_20170926',
 'ga_sessions_20170927',
 'ga_sessions_20170928',
 'ga_sessions_20170929',
 'ga_sessions_20170930',
 'ga_sessions_20171001',
 'ga_sessions_20171002',
 'ga_sessions_20171003',
 'ga_sessions_20171004',
 'ga_sessions_20171005',
 'ga_sessions_20171006',
 'ga_sessions_20171007',
 'ga_sessions_20171008',
 'ga_sessions_20171009',
 'ga_sessions_20171010',
 'ga_sessions_20171011',
 'ga_sessions_20171012',
 'ga_sessions_20171013',
 'ga_sessions_20171014',
 'ga_sessions_20171015',
 'ga_sessions_20171016',
 'ga_sessions_20171017',
 'ga_sessions_20171018',
 'ga_sessions_20171019',
 'ga_sessions_20171020',
 'ga_sessions_20171021',
 'ga_sessions_20171022',
 'ga_sessions_20171023',
 'ga_sessions_20171024',
 'ga_sessions_20171025',
 'ga_sessions_20171026',
 'ga_sessions_20171027',
 'ga_sessions_20171028',
 'ga_sessions_20171029',
 'ga_sessions_20171030',
 'ga_sessions_20171031',
 'ga_sessions_20171101',
 'ga_sessions_20171102',
 'ga_sessions_20171103',
 'ga_sessions_20171104',
 'ga_sessions_20171105',
 'ga_sessions_20171106',
 'ga_sessions_20171107',
 'ga_sessions_20171108',
 'ga_sessions_20171109',
 'ga_sessions_20171110',
 'ga_sessions_20171111',
 'ga_sessions_20171112',
 'ga_sessions_20171113',
 'ga_sessions_20171114',
 'ga_sessions_20171115',
 'ga_sessions_20171116',
 'ga_sessions_20171117',
 'ga_sessions_20171118',
 'ga_sessions_20171119',
 'ga_sessions_20171120',
 'ga_sessions_20171121',
 'ga_sessions_20171122',
 'ga_sessions_20171123',
 'ga_sessions_20171124',
 'ga_sessions_20171125',
 'ga_sessions_20171126',
 'ga_sessions_20171127',
 'ga_sessions_20171128',
 'ga_sessions_20171129',
 'ga_sessions_20171130',
 'ga_sessions_20171201',
 'ga_sessions_20171202',
 'ga_sessions_20171203',
 'ga_sessions_20171204',
 'ga_sessions_20171205',
 'ga_sessions_20171206',
 'ga_sessions_20171207',
 'ga_sessions_20171208',
 'ga_sessions_20171209',
 'ga_sessions_20171210',
 'ga_sessions_20171211',
 'ga_sessions_20171212',
 'ga_sessions_20171213',
 'ga_sessions_20171214',
 'ga_sessions_20171215',
 'ga_sessions_20171216',
 'ga_sessions_20171217',
 'ga_sessions_20171218',
 'ga_sessions_20171219',
 'ga_sessions_20171220',
 'ga_sessions_20171221',
 'ga_sessions_20171222',
 'ga_sessions_20171223',
 'ga_sessions_20171224',
 'ga_sessions_20171225',
 'ga_sessions_20171226',
 'ga_sessions_20171227',
 'ga_sessions_20171228',
 'ga_sessions_20171229',
 'ga_sessions_20171230',
 'ga_sessions_20171231',
 'ga_sessions_20180101',
 'ga_sessions_20180102',
 'ga_sessions_20180103',
 'ga_sessions_20180104',
 'ga_sessions_20180105',
 'ga_sessions_20180106',
 'ga_sessions_20180107',
 'ga_sessions_20180108',
 'ga_sessions_20180109',
 'ga_sessions_20180110',
 'ga_sessions_20180111',
 'ga_sessions_20180112',
 'ga_sessions_20180113',
 'ga_sessions_20180114',
 'ga_sessions_20180115',
 'ga_sessions_20180116',
 'ga_sessions_20180117',
 'ga_sessions_20180118',
 'ga_sessions_20180119',
 'ga_sessions_20180120',
 'ga_sessions_20180121',
 'ga_sessions_20180122',
 'ga_sessions_20180123',
 'ga_sessions_20180124',
 'ga_sessions_20180125',
 'ga_sessions_20180126',
 'ga_sessions_20180127',
 'ga_sessions_20180128',
 'ga_sessions_20180129',
 'ga_sessions_20180130',
 'ga_sessions_20180131',
 'ga_sessions_20180201',
 'ga_sessions_20180202',
 'ga_sessions_20180203',
 'ga_sessions_20180204',
 'ga_sessions_20180205',
 'ga_sessions_20180206',
 'ga_sessions_20180207',
 'ga_sessions_20180208',
 'ga_sessions_20180209',
 'ga_sessions_20180210',
 'ga_sessions_20180211',
 'ga_sessions_20180212',
 'ga_sessions_20180213',
 'ga_sessions_20180214',
 'ga_sessions_20180215',
 'ga_sessions_20180216',
 'ga_sessions_20180217',
 'ga_sessions_20180218',
 'ga_sessions_20180219',
 'ga_sessions_20180220',
 'ga_sessions_20180221',
 'ga_sessions_20180222',
 'ga_sessions_20180223',
 'ga_sessions_20180224',
 'ga_sessions_20180225',
 'ga_sessions_20180226',
 'ga_sessions_20180227',
 'ga_sessions_20180228',
 'ga_sessions_20180301',
 'ga_sessions_20180302',
 'ga_sessions_20180303',
 'ga_sessions_20180304',
 'ga_sessions_20180305',
 'ga_sessions_20180306',
 'ga_sessions_20180307',
 'ga_sessions_20180308',
 'ga_sessions_20180309',
 'ga_sessions_20180310',
 'ga_sessions_20180311',
 'ga_sessions_20180312',
 'ga_sessions_20180313',
 'ga_sessions_20180314',
 'ga_sessions_20180315',
 'ga_sessions_20180316',
 'ga_sessions_20180317',
 'ga_sessions_20180318',
 'ga_sessions_20180319',
 'ga_sessions_20180320',
 'ga_sessions_20180321',
 'ga_sessions_20180322',
 'ga_sessions_20180323',
 'ga_sessions_20180324',
 'ga_sessions_20180325',
 'ga_sessions_20180326',
 'ga_sessions_20180327',
 'ga_sessions_20180328',
 'ga_sessions_20180329',
 'ga_sessions_20180330',
 'ga_sessions_20180331',
 'ga_sessions_20180401',
 'ga_sessions_20180402',
 'ga_sessions_20180403',
 'ga_sessions_20180404',
 'ga_sessions_20180405',
 'ga_sessions_20180406',
 'ga_sessions_20180407',
 'ga_sessions_20180408',
 'ga_sessions_20180409',
 'ga_sessions_20180410',
 'ga_sessions_20180411',
 'ga_sessions_20180412',
 'ga_sessions_20180413',
 'ga_sessions_20180414',
 'ga_sessions_20180415',
 'ga_sessions_20180416',
 'ga_sessions_20180417',
 'ga_sessions_20180418',
 'ga_sessions_20180419',
 'ga_sessions_20180420',
 'ga_sessions_20180421',
 'ga_sessions_20180422',
 'ga_sessions_20180423',
 'ga_sessions_20180424',
 'ga_sessions_20180425',
 'ga_sessions_20180426',
 'ga_sessions_20180427',
 'ga_sessions_20180428',
 'ga_sessions_20180429',
 'ga_sessions_20180430']

In [2]:
ga_bq_test.table_schema('ga_sessions_20170802')

,name,type,mode,description
0,visitorId,INTEGER,NULLABLE,None
1,visitNumber,INTEGER,NULLABLE,None
2,visitId,INTEGER,NULLABLE,None
3,visitStartTime,INTEGER,NULLABLE,None
4,date,STRING,NULLABLE,None
5,totals,RECORD,NULLABLE,None
6,totals.visits,INTEGER,NULLABLE,None
7,totals.hits,INTEGER,NULLABLE,None
8,totals.pageviews,INTEGER,NULLABLE,None
9,totals.timeOnSite,INTEGER,NULLABLE,None
10,totals.bounces,INTEGER,NULLABLE,None
11,totals.newVisits,INTEGER,NULLABLE,None
12,totals.screenviews,INTEGER,NULLABLE,None
13,totals.uniqueScreenviews,INTEGER,NULLABLE,None
14,totals.timeOnScreen,INTEGER,NULLABLE,None
15,trafficSource,RECORD,NULLABLE,None
16,trafficSource.referralPath,STRING,NULLABLE,None
17,trafficSource.campaign,STRING,NULLABLE,None
18,trafficSource.source,STRING,NULLABLE,None
19,trafficSource.medium,STRING,NULLABLE,None
20,trafficSource.keyword,STRING,NULLABLE,None
21,trafficSource.adContent,STRING,NULLABLE,None
22,trafficSource.adwordsClickInfo,RECORD,NULLABLE,None
23,trafficSource.adwordsClickInfo.campaignId,INTEGER,NULLABLE,None
24,trafficSource.adwordsClickInfo.adGroupId,INTEGER,NULLABLE,None
25,trafficSource.adwordsClickInfo.creativeId,INTEGER,NULLABLE,None
26,trafficSource.adwordsClickInfo.criteriaId,INTEGER,NULLABLE,None
27,trafficSource.adwordsClickInfo.page,INTEGER,NULLABLE,None
28,trafficSource.adwordsClickInfo.slot,STRING,NULLABLE,None
29,trafficSource.adwordsClickInfo.criteriaParameters,STRING,NULLABLE,None
...,...,...,...,...
155,hits.publisher_infos.dfpMatchedQueries,INTEGER,NULLABLE,None
156,hits.publisher_infos.dfpMeasurableImpressions,INTEGER,NULLABLE,None
157,hits.publisher_infos.dfpQueries,INTEGER,NULLABLE,None
158,hits.publisher_infos.adsenseBackfillDfpClicks,INTEGER,NULLABLE,None
159,hits.publisher_infos.adsenseBackfillDfpImpress...,INTEGER,NULLABLE,None
160,hits.publisher_infos.adsenseBackfillDfpMatched...,INTEGER,NULLABLE,None
161,hits.publisher_infos.adsenseBackfillDfpMeasura...,INTEGER,NULLABLE,None
162,hits.publisher_infos.adsenseBackfillDfpQueries,INTEGER,NULLABLE,None
163,hits.publisher_infos.adxBackfillDfpClicks,INTEGER,NULLABLE,None
164,hits.publisher_infos.adxBackfillDfpImpressions,INTEGER,NULLABLE,None
165,hits.publisher_infos.adxBackfillDfpMatchedQueries,INTEGER,NULLABLE,None
166,hits.publisher_infos.adxBackfillDfpMeasurableI...,INTEGER,NULLABLE,None
167,hits.publisher_infos.adxBackfillDfpQueries,INTEGER,NULLABLE,None
168,hits.publisher_infos.adxClicks,INTEGER,NULLABLE,None
169,hits.publisher_infos.adxImpressions,INTEGER,NULLABLE,None
170,hits.publisher_infos.adxMatchedQueries,INTEGER,NULLABLE,None
171,hits.publisher_infos.adxMeasurableImpressions,INTEGER,NULLABLE,None
172,hits.publisher_infos.adxQueries,INTEGER,NULLABLE,None
173,hits.publisher_infos.adsViewed,INTEGER,NULLABLE,None
174,hits.publisher_infos.adsUnitsViewed,INTEGER,NULLABLE,None
175,hits.publisher_infos.adsUnitsMatched,INTEGER,NULLABLE,None
176,hits.publisher_infos.dfpAdGroup,STRING,NULLABLE,None
177,hits.publisher_infos.dfpAdUnits,STRING,NULLABLE,None
178,hits.publisher_infos.dfpNetworkId,STRING,NULLABLE,None
179,fullVisitorId,STRING,NULLABLE,None
180,userId,STRING,NULLABLE,None
181,clientId,STRING,NULLABLE,None
182,channelGrouping,STRING,NULLABLE,None
183,socialEngagementType,STRING,NULLABLE,None
184,sessionId,STRING,NULLABLE,None

In [3]:
all_train_summary_query = """SELECT  fullVisitorId, coalesce(SUM( totals.transactionRevenue ),0) AS total_transactionrevenue_per_user
  FROM `kaggle-public-datasets.ga_train_set.ga_sessions_*` 
  GROUP BY fullVisitorId
"""
all_train_summary = ga_bq_train.query_to_pandas_safe(all_train_summary_query)

In [4]:
all_train_summary.describe()

       total_transactionrevenue_per_user
count                       7.141670e+05
mean                        2.156458e+06
std                         1.083883e+08
min                         0.000000e+00
25%                         0.000000e+00
50%                         0.000000e+00
75%                         0.000000e+00
max                         7.711343e+10

In [5]:
len(all_train_summary[all_train_summary.total_transactionrevenue_per_user > 0])

9996

In [6]:
avg_transrev_query = """SELECT
( SUM(total_transactionrevenue_per_visitorid) / SUM(total_visits_per_visitorid) ) AS
avg_revenue_by_user_per_visit
FROM (
SELECT
fullVisitorId,
SUM( totals.visits ) AS total_visits_per_visitorid,
SUM( totals.transactionRevenue ) AS total_transactionrevenue_per_visitorid
FROM
`kaggle-public-datasets.ga_train_set.ga_sessions_*`
WHERE
totals.visits > 0
AND totals.transactionRevenue IS NOT NULL
GROUP BY
fullVisitorId );
        """
avg_transrev = ga_bq_train.query_to_pandas_safe(avg_transrev_query, max_gb_scanned=10)
avg_transrev.head()

   avg_revenue_by_user_per_visit
0                   1.337448e+08

In [7]:
#Here we'll create another query to pull a few specific datapoints per user.
all_train_summary_query2 = """SELECT  fullVisitorId, 
SUM( totals.transactionRevenue ) AS total_transactionrevenue_per_user, 
SUM(totals.pageviews) AS total_pagesviews_per_user,
SUM(totals.visits ) AS total_visits_per_user,
SUM(totals.timeOnSite ) AS total_timeonsite_per_user
  FROM `kaggle-public-datasets.ga_train_set.ga_sessions_*` 
  GROUP BY fullVisitorId
"""
all_train_summary2 = ga_bq_train.query_to_pandas_safe(all_train_summary_query2)
all_train_summary2.head()

,fullVisitorId,total_transactionrevenue_per_user,total_pagesviews_per_user,total_visits_per_user,total_timeonsite_per_user
0,5806679447639825731,NaN,NaN,1,None
1,2683691463426791244,NaN,NaN,1,None
2,9483167415025355306,NaN,NaN,1,None
3,4754229025633014231,NaN,NaN,1,None
4,397699574323551811,NaN,NaN,1,None

In [8]:
#Now let's drop the data from that query into a dataframe.
#This is the start of how you might pull features that you've queried out of BQ to begin modelling.
full_df = ga_bq_train.query_to_pandas(all_train_summary_query2)
full_df.describe()

,total_transactionrevenue_per_user,total_pagesviews_per_user,total_visits_per_user
count,9.996000e+03,714155.000000,714167.000000
mean,1.540688e+08,4.870744,1.265324
std,9.033365e+08,14.128975,1.430618
min,1.000000e+04,1.000000,1.000000
25%,2.448750e+07,1.000000,1.000000
50%,4.884500e+07,2.000000,1.000000
75%,1.084650e+08,4.000000,1.000000
max,7.711343e+10,4160.000000,278.000000